* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; 
}

.container {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    background: #c8a8e3;
    /* width: 100%; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; /* vertical */
    /* justify-content: center; gorizont */ 
}
nav {
    color: #c7f2ff;
    flex-direction:column;
    display: flex;
    width: 100%;
    border:2px solid #e60404;
    border-radius: 5px;
    justify-content: space-between;
    background: #252830;
}
#VK {cursor: pointer;}
.nav0 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav01 {
    padding-left: 6rem;
    margin: auto;
    font-size: large;
    font-weight: 700;
    text-align: center;
}
#telephono {
    font-size: small;
    font-weight: 200;
}
.buttonCall {
    align-items: center;
    padding: 3px 15px 3px 15px ;
    font-size: small;
    font-weight: 100;
    background: #12e012;
    color: rgb(240,255,255);
    border-radius: 5px;
    /* padding: 3px; */
}
.buttonCall:hover { background: #e60404; cursor: pointer;}
.navTire {
    padding-left: 10rem;
    padding-right: 10rem;
    border-radius: 1.5rem;
    background: inherit;
    color: #d6cece;
    text-align: center;
}
.nav1 {
    display: flex;
    
    border:2px solid #e60404;
    border-radius: 5px;
    background: #fff;
    flex-direction: row;
    margin: .5rem;
    justify-content: space-around;
    background: inherit;
}
.nav2 {
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2); 
    padding: 1rem;
    margin: 0 2px 0 2px;
    font-size: large;
    font-weight: 700;
    color: #777;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border:2px solid #e60404;
    border-radius: 5px;
    transition: color 1s;
}
.nav2:hover {
    color:#f58a07 !important;
    background: #2076ef;
}

.callMeWindow {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: #12e012;
    border-radius: 1rem;
    width: 20rem;
    height: 23rem;
    /* position: absolute; */
    /* margin: auto; */
    margin-top: 7%;
    margin-left: 34%;
    align-items:center;
    /* transition: 1; */

}
.callMeX {
    width:  inherit;
    /* margin-left: ; */
    display: flex;
    background: #777;
    justify-content: space-between;

}
#X1 {
    background: inherit;
    cursor: pointer;

}
.hidden {
    display: none;
}
footer {
    display: flex;
}
